@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

:root {
	--extraBack: #f2ddc6;
	--back: #f2e8c9;
	--new: #ff8c69;
	--continue: #99ff99;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: "Madimi One", sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	background-color: var(--back);
}

/* Стили меню */

.menu {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menuButton {
	width: 15%;
	min-width: 150px;
	height: 7%;
	min-height: 50px;
	margin-top: 1%;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px 5px black;

	user-select: none;
}

.menuButton:hover {
	box-shadow: 3px 3px 5px black;
}

.newGame {
	background-color: var(--new);
}

.newGame:active {
	background-color: #e4717a;
}

.continue {
	background-color: var(--continue);
}

.continue:active {
	background-color: #3eb489;
}

/* Стили Игры */

.game {
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
}

.shopL {
	width: 20%;
	height: 100%;
	background-color: var(--extraBack);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.shop1 {
	width: 90%;
	height: 8%;
	background: khaki;
}

.statistics {
	width: 20%;
	height: 100%;
	background-color: var(--extraBack);
}

.cookieContainer {
	width: 60%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cookie {
	width: 30%;
	user-select: none;
}

.score {
	margin-top: 5px;
}

div p:first-child {
	margin-bottom: 5px;
}
